body{
	width: 100vw;
}
nav{
	background: rgba(255,255,255,0.5);
	width: 45%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 10;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li{
	width: 30%;
	display: inline-block;;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
a li:hover{
	background: rgba(0,0,0,0.5);
	color: white;
}

.thumbnail img{
	width: 200px;
	height: 200px;
}

.cover{
	width: 200px;
	height: 200px;
	margin: 50px;
}
.TrackLyrics{
	display: none;
}
/*.thumbnail{
	border: none;
}*/